* {
  box-sizing: border-box;
  background-color: black;
  color: gold;
}

img#leftProd_img {
  height: 200px;
  width: 200px;
  border: 7px outset greenyellow;
  border-radius: 5%;
}

img#midProd_img {
  height: 200px;
  width: 200px;
  border: 7px outset greenyellow;
  border-radius: 5%;
}

img#rightProd_img {
  height: 200px;
  width: 200px;
  border: 7px outset greenyellow;
  border-radius: 5%;
}

section h1 {
  font-size: 2em;
  text-align: center;
  font-weight: 600;
}

section#allProducts {
  align-self: auto;
  display: flex;
  justify-content: space-between;
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 1%;
  text-align: center;
}